@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Saira:wght@700&display=swap');

:root {
  --primary-color: #033b4a;
  --secondary-color: #20c997;
  --color: #2d2e3d;
  --gray: #4a4a4d;
  /* --gray: #2d2e3d; */
  --bg-primary: #ecf0f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

h1,
h2 {
  font-family: 'Saira', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Scroll Up */
.scroll-up {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 18px;
  color: #fff;
  background-color: var(--secondary-color);
  padding: 5px 12px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.scroll-up.top {
  display: block;
}

/* Utility Classes */
.container {
  max-width: 1100px;
  margin: auto;
  padding: 0 2rem;
}

.text-primary {
  color: var(--secondary-color);
}

.btn-primary {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 8px 20px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background-color: #15a076;
}

.title {
  text-align: center;
}

.title h2 {
  font-size: 38px;
  color: var(--primary-color);
  letter-spacing: 1px;
}

.title hr {
  width: 100px;
  height: 3px;
  background-color: var(--secondary-color);
  border: none;
  margin: 5px auto 0;
}

/* Header Start */
#home {
  background-color: var(--bg-primary);
  min-height: 100vh;
}

.navbar {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  position: fixed;
  width: 100%;
  z-index: 1;
  height: 85px;
  align-items: center;
  justify-content: center;
}

.navbar nav {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#name {
  color: var(--primary-color);
  font-size: 24px;
  font-weight: 600;
}

.navbar nav .nav-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar nav .nav-menu a {
  margin: 0 15px;
  color: var(--primary-color);
  font-weight: 600;
  transition: all 0.3s ease;
}

.navbar nav .nav-menu a:hover {
  color: var(--secondary-color);
}

.nav-toggle {
  display: none;
}

.home-content {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  padding-top: 5rem !important;
  min-height: 100vh;
}

.content-text {
  margin-bottom: 4rem;
}

#home .home-content p span {
  font-weight: 700;
  font-size: 20px;
}

#home .home-content h1 {
  letter-spacing: 1.3px;
  font-size: 55px;
  color: var(--primary-color);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

#home .home-content .job {
  font-size: 20px;
  color: var(--primary-color);
  font-weight: 600;
}

#home .home-content .social {
  margin: 2rem 0;
}

#home .home-content .social a i {
  font-size: 18px;
  padding: 10px;
  background-color: var(--gray);
  color: #fff;
  border-radius: 50%;
  margin-right: 10px;
  transition: all 0.3s ease;
}

#home .home-content .social a i:hover {
  transform: scale(0.85);
}

.home-content img {
  max-width: 450px;
}

/* Header End */

/* About Start */
#about,
#skills,
#education,
#experience,
#projects,
#tutorials {
  padding: 6rem 0;
}

#about .title h2 {
  font-weight: 300;
}

#about .about-content {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 5rem;
  color: var(--gray);
}

#about .about-content .col-1 h3 {
  font-size: 26px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

#about .about-content .col-1 p {

  margin-bottom: 20px;
  line-height: 2;
}

#about .about-content .col-2 p {
  margin-bottom: 30px;
  padding-bottom: 12px;
  border-bottom: 1px solid #ddd;
}

/* About End */

/* Skills Start */
#skills,
#tutorials,
#education {
  background-color: var(--primary-color);
}

#skills h2,
#tutorials h2,
#education h2 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
}

#skills .skills-content {
  margin-top: 2rem;
  background-color: #0f272d;
}

#skills .skills-content .row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
  align-items: center;
  text-align: center;
  padding: 1.5rem;
}

#skills .skills-content .row .item {
  color: #fff;
  background-color: #000;
  padding: 1.5rem;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  transition: all 0.3s ease;
}

#skills .skills-content .row .item:hover {
  box-shadow: 10px 10px 10px #00f4ab0c;
}

#skills .skills-content .row .item:nth-child(3) img,
#skills .skills-content .row .item:nth-child(5) img {
  max-width: 75px;
}

#skills .row img {
  max-width: 40px;
}

/* Skills End */
/* Education Start */
#experience {
  background-color: #00f4ab13;
}

#education h2,
#experience h2 {
  margin-bottom: 5px;
}

#education .title p {
  color: #fff;
}

#education .card,
#experience .card {
  margin-top: 3rem;
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

#education .card .card-content,
#experience .card .card-content {
  padding: 1.5rem;
  align-self: center;
  margin-left: 10px;
}

#education .card .card-content h3,
#experience .card .card-content h3 {
  font-size: 22px;
  color: var(--primary-color);
  font-weight: 600;
}

#education .card .card-content p,
#experience .card .card-content p {
  color: var(--gray);
  line-height: 2;

}

#education .card .card-content p.status,
#experience .card .card-content p.status {
  color: #236c02;
  font-weight: 600;
  font-size: 20px;
}

#education img,
#experience img {
  object-fit: cover;
  width: 180px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

/* Education End */
/* Projects Start */
#projects .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  margin-top: 3rem;
}

#projects .row .card .card-content {
  padding: 1.5rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#projects .row .card .card-content h3 {
  font-size: 18px;
  font-weight: 600;
}

#projects .row .card .card-content p {
  font-size: 14px;
  margin: 10px 0 20px;
}

#projects img {
  display: block;
  width: 100%;
  height: 180px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#projects .new {
  text-align: center;
  margin-top: 3rem;
  font-size: 18px;
  font-weight: 500;
}

/* Projects End */
/* Tutorials Start */

#tutorials .tutorials-content {
  margin-top: 2rem;
}

#tutorials .tutorials-content .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
}

#tutorials .tutorials-content .row .card .card-content {
  background-color: #fff;
  padding: 20px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

#tutorials .tutorials-content .row .card .card-content h4 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 20px;
}

#tutorials .tutorials-content .row .card .card-content a,
#projects .row .card .card-content a {
  font-size: 12px;
  font-weight: 500;
  padding: 8px 12px;
}

#tutorials .tutorials-content .row .card .card-content .links {
  display: flex;
  justify-content: space-between;
}

#tutorials .tutorials-content .row img {
  display: block;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

#tutorials .tutorials-content h3 {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
}

#tutorials .tutorials-content hr {
  margin: 2rem 0;
  background-color: var(--secondary-color);
  width: 100%;
  height: 3px;
  border: none;
}

/* Tutorials End */

/* Contact Start */
#contact {
  padding: 4rem 0;
  background: #00f4ab13;
}

#contact .row {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 2rem;
  background: #fff;
  box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
  padding: 2rem 3rem;
  border-radius: 10px;
}

#contact .row input,
#contact .row textarea {
  display: block;
  width: 100%;
  margin: 20px 0;
  padding: 10px;
  background-color: #00f4ab13;
  border: 1px solid #bbb;
  outline: none;
}

/* Contact End */

/* Footer Start */
#footer .footer-top {
  background-color: #222;
  color: #fff;
  padding: 3rem 0;
}

#footer .footer-top a {
  color: #fff;
}

#footer .footer-top .row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
}

#footer .footer-top .row h3 {
  font-weight: 500;
  font-size: 25px;
  margin-bottom: 15px;
}

#footer .footer-top .row .col-1 p {
  margin-bottom: 15px;
}

#footer .footer-top .row .col-2 ul li a {
  display: inline-block;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

#footer .footer-top .row .col-3 .social a i {
  margin-right: 10px;
  font-size: 25px;
  transition: all 0.3s ease;
}

#footer .footer-top .row .col-2 ul li a:hover,
#footer .footer-top .social a i:hover {
  color: var(--secondary-color);

}

#footer .copyright {
  background-color: #161515;
  color: #fff;
  padding: 1rem 0;
  text-align: center;
}

/* Footer End */
/* Respnsiveness Start */
@media (max-width: 1050px) {

  #home .home-content h1 {
    font-size: 40px;
  }

  .home-content img {
    max-width: 300px;
  }

  #about .about-content {
    column-gap: 2rem;
  }

  #about .about-content .col-1 h3 {
    font-size: 25px;
    margin-bottom: 10px;
  }
}

@media (max-width: 850px) {

  /* Navbar ul */
  #home .navbar nav .nav-menu {
    opacity: 0;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: flex-start;
    background-color: #fff;
    padding: 20px;
    position: absolute;
    top: 80px;
    left: 0;
    transition: all 0.3s ease;
  }

  #home .navbar nav .nav-menu.active {
    opacity: 1;
  }

  #home .navbar nav .nav-menu li {
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
  }

  #home .navbar nav .nav-menu li:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  .navbar nav .nav-menu a {
    margin-left: 10px;
  }

  /* Navbar toggle */
  .nav-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .nav-toggle {
    display: block;
    width: 45px;
    height: 45px;
    position: relative;
  }

  .nav-toggle i {
    position: absolute;
    margin: auto;
    inset: 0;
    width: max-content;
    height: max-content;
    opacity: 0;
    font-size: 25px;
    color: var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .nav-toggle i.active {
    opacity: 1;
    transform: rotate(180deg);
  }

  .home-content {
    grid-template-columns: 1fr;
    justify-content: center;

  }

  .content-text {
    margin-top: 5rem;
  }

  .home-content img {
    margin: auto;
    width: 400px;
  }

  #about .about-content,
  #contact .row {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }

  #skills .skills-content .row {
    grid-template-columns: repeat(3, 1fr);
  }

  #education .card .card-content, #experience .card .card-content {
    padding: 1rem;
    margin-left: 0px;
    width: 100%;
  }

  #education .card .card-content h3, #experience .card .card-content h3 {
    font-size: 18px;
  }

  #education .card .card-content p, #experience .card .card-content p {
    font-size: 14px;
  }

  #projects .row,
  #tutorials .tutorials-content .row {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  #contact .row img {
    margin: auto;
    max-width: 100%;
  }

  #footer .footer-top .row {
    grid-template-columns: 2fr 1fr;
    row-gap: 2rem;
  }
}

@media (max-width: 560px) {
  .container {
    max-width: 1100px;
    margin: auto;
    padding: 0 1rem;
  }

  .title h2 {
    font-size: 30px;
  }

  #home .home-content h1 {
    font-size: 30px;
  }

  #about .about-content .col-1 h3 {
    font-size: 16px;
  }

  #skills .skills-content .row {
    grid-template-columns: repeat(2, 1fr);
  }

  #education .card, #experience .card {
    flex-direction: column;
  }

  #education img, #experience img {
    width: 100%;
    height: 200px;
  }

  #projects .row,
  #tutorials .tutorials-content .row,
  #footer .footer-top .row {
    grid-template-columns: 1fr;
  }

  #contact .row {
    padding: 2rem;
  }
}

/* Respnsiveness End */